* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 10px;
    background: linear-gradient(90deg, red, yellow, green, blue);
    -webkit-background-clip: text;
    background-size: 1000%;
    transform-origin: right;
    color: transparent;
    animation: josse 15s linear infinite;
}

@keyframes josse {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}